@import "../../index.css";

.col-md-12{
    align-items: center !important;
    justify-content: center !important;
}
.contactForm{
    background-color: var(--color-green);
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--color-brown);

   
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formRow{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contactForm p{
    color: var(--color-white);
}

.contactForm input {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--color-light-brown);
}

input #message{
    height: 3rem;
}