@import "../../index.css";

.logo{
    height: 36px;
    margin-right: 1rem !important;
}

.navbar{
    padding: 1rem 0rem !important;
    background-color: var(--color-white) !important;
    font-family: var(--font-alt);
}

#navbarNav{
    padding-top: 8px !important;
}

.nav-link{
    color: var(--color-brown) !important;
    margin-right: 0.5rem !important;
}

.nav-item{
    font-size: 18px;
}

.active{
    color: var(--color-black);
    font-weight: 600 !important;
}
