@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Lato', sans-serif;
  --font-alt: 'Source Sans 3', sans-serif;
  ;

  --color-green: #00493b;
  --color-black: #1B1725;
  --color-grey: #545454;
  --color-light-green: #37AC66;
  --color-white: #fcfcfa;
  --color-dark-brown: #312C33;
  --color-light-brown: #464140;

  --box-shadow: 0px 2px 10px 0px rgba(9, 8, 66, 0.16);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--color-white);
}


a {
  color: var(--color-light-green);
  text-decoration: none;
}

h1 {
  color: var(--color-black) !important;

  font-size: 64px !important;
  font-family: var(--font-base) !important;
  font-weight: 700 !important;
  line-height: 72px !important;
}

p {
  font-size: 24px;
  font-family: var(--font-alt);
  line-height: 32px;
}

.row {
  padding-bottom: 3rem !important;
}

@media only screen and (max-width: 600px) {
  .row {
    padding-bottom: 2rem !important;
  }

  h1 {
    color: var(--color-black) !important;
  
    font-size: 48px !important;
    font-family: var(--font-base) !important;
    font-weight: 700 !important;
    line-height: 56px !important;
  }

}